.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  margin-bottom: 40px;
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 10px;
  gap: 10px 20px;
}

.empresa::before {
  content: "";
  width: 4px;
  height: 25px;
  background: linear-gradient(rgb(80, 0, 80), rgb(194, 4, 194));
  position: absolute;
  left: -5px;
  top: 25px;
}

.empresa-ano {
  position: absolute;
  width: 50px;
  text-align: right;
  left: -4.5rem;
  top: 25px;
  color: #525252;
  font-size: 0.88rem;
}

.empresa-titulo {
  line-height: 1.125rem;
}

.empresa-texto {
  font-size: 0.8;
  color: #525252;
  max-width: 35ch;
}

.empresa ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: start;
}

.empresa li {
  font-size: 0.875rem;
  line-height: 1.4;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
}

@media (max-width: 700px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .subtitulo {
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
