.formacao {
  background: #141414;
  color: white;
}

.formacao .subtitulo {
  color: #000000;
}

.formacao-texto {
  margin-bottom: 40px;
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}
.faculdade {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
  max-width: 300px;
}
.faculdade ul {
  background: #000000;
  border-radius: 4px;
  padding: 15px 20px;
}

.faculdade-tipo {
  display: inline-block;
  font-size: 0.875;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 40px;
  position: relative;
}

.faculdade-curso::before {
  content: "";
  width: 4px;
  height: 30px;
  background: linear-gradient(rgb(80, 0, 80), rgb(194, 4, 194));
  position: absolute;
  left: -22px;
  top: 5px;
}

.faculdade-nome {
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
}

.formacao-extra h3::before {
  content: "";
  width: 4px;
  height: 55px;
  background: linear-gradient(rgb(80, 0, 80), rgb(194, 4, 194));
  position: absolute;
  left: -10px;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}
.formacao-extra span {
  color: #8f8f8f;
}

@media (max-width: 700px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 40px 20px;
    gap: 35px;
  }
  .formacao .subtitulo {
    color: #ffffff;
  }
}
