<<<<<<< HEAD
@import "./global.css";
@import "./header.css";
@import "./introducao.css";
@import "./experiencia.css";
=======
body {
  display: grid;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
  align-items: center;
}

.título-cabeçalho {
  display: flex;
  gap: 45rem;
}
.título-cabeçalho h1 {
  margin-top: 1rem;
  margin-left: 2.5rem;
  font-size: 3rem;
}

.navegação-primária {
  margin-top: 2.5rem;
}

.navegação-primária a {
  text-decoration: none;
  color: black;
  margin-left: 2rem;
  font-weight: bold;
}

.introdução {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 60rem;
  margin-top: 4rem;
  gap: 6rem;
  align-items: center;
  justify-items: center;
}

.conteúdo-introdução {
  position: relative;
}

.conteúdo-introdução h1 {
  font-size: 4rem;
}

.conteúdo-introdução img {
  position: absolute;
  z-index: -1;
  top: 0.1rem;
  left: -2rem;
}

.experiencia {
  display: grid;
  grid-template-columns: 24rem 1fr;
  margin-top: 1rem;
  gap: 4rem;
  width: 100%;
}

.titulos {
  font-size: 4rem;
  margin-top: 10rem;
  margin-left: 4rem;
  color: rgb(224, 221, 221);
  grid-column: 1;
  word-wrap: break-word;
}

.anos {
  display: flex;
  position: absolute;
  left: -7rem;
  margin-top: 1.5rem;
  color: rgb(70, 70, 70);
  font-weight: bold;
}

.conteudo-experiencia {
  display: grid;
  margin-top: 10rem;
  margin-left: 15rem;
  gap: 2rem;
}
.titulo-conteudo-experiencia {
  display: grid;
  max-width: 39rem;
  border-radius: 7px;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
}

.titulo-conteudo-experiencia span {
  font-weight: bold;
}

.descricao-experiencia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 47rem;
  padding-left: 2rem;
  gap: 1.4rem;
  background-color: rgb(237, 237, 237);
  border-radius: 6px;
  border-left: solid 0.2rem rgb(199, 44, 199);
}

.coluna-um {
  margin-bottom: 1.5rem;
  position: relative;
}

.coluna-um p {
  margin: 0rem;
}

.atributos {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-right: 1rem;
}

.atributos p {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0rem;
}

.descricao-experiencia-surfbot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 47rem;
  padding-left: 2rem;
  gap: 1.5rem;
  background-color: rgb(237, 237, 237);
  border-radius: 6px;
  border-left: solid 0.2rem rgb(199, 44, 199);
}

.coluna-um-dois {
  margin-bottom: 1.5rem;
  position: relative;
}

.coluna-um-dois p {
  margin: 0rem;
}

.atributos-surfbot {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.atributos-surfbot p {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0rem;
}

.formacao {
  display: grid;
  grid-template-columns: 29rem 1fr;
  background-color: rgb(36, 36, 36);
  margin-top: 3rem;
  gap: 2rem;
  justify-items: center;
  width: 100%;
}

.conteudo-formacao {
  display: grid;
  gap: 3em;
  margin-top: 7rem;
  margin-left: 4rem;
}

.titulo-formacao {
  font-size: 4rem;
  word-wrap: break-word;
  max-width: 100%;
  grid-column: 1;
  margin-left: 15rem;
  margin-top: 2rem;
}

.descricao-conteudo {
  display: grid;
  max-width: 30rem;
  color: rgb(126, 126, 126);
  font-size: 0.9rem;
}

.descricao-conteudo span {
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: 15rem 15rem 15rem;
  gap: 1.7rem;
}

.card-um {
  display: grid;
  background-color: rgb(18, 17, 17);
  border-radius: 5px;
  border-left: solid 0.2rem rgb(124, 6, 124);
  align-content: space-between;
  word-wrap: break-word;
}

.card-um h2,
p {
  margin: 0rem;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-um h2 {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}
.card-um p {
  color: rgb(150, 150, 150);
}
.card-um div {
  padding-top: 1rem;
}

.margem-especial {
  margin-bottom: 1.4rem;
}

.cursos-itensivos {
  position: relative;
  margin-bottom: 5rem;
}

.cursos-itensivos img {
  position: absolute;
  left: -6.5rem;
  top: 1rem;
}

.cursos-itensivos div {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
}

.ajuste-margem p {
  margin: 0rem;
  color: white;
  font-weight: bold;
}
>>>>>>> 0120054eaf48bd5e11cefad98e74b9e817ef2dd8
